<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
<!--
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="home"><i class="fa fa-home"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="lifecycle">Lifecycle</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="databind">Data bind</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="rxjs">RxJS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="ngrx">NgRx</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="keepalive">Keep-alive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="formtest">Forms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="broadcast">Event broadcast</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="gridster">Gridster</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"routerLink="i18n">i18n</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"routerLink="i18n2">ngx-translate</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"routerLink="chd">Change detection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active"routerLink="content">Content</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="dragdrop">Drag&amp;Drop</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="router-direct">Router direct</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="router-lazy">Router lazy</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="moduletest">ModuleTest</a>
      </li>
-->
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="ctxmnenu">Context menu</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="templating">Templating</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>


